.navbar-brand {
    background-color: rgb(23, 162, 184);
    padding: 1%;
    color: ivory;
}
#btn {
    display: flex;
    justify-content: center;
    padding: 20pt;
}

.btn-primary {
    background-color: rgb(23, 162, 184);
    margin-bottom: 100pt;
}